@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
body {
    background-color: hsl(0, 0%, 8%);
}

#container {
    border-radius: 15px;
    background-color: hsl(0, 0%, 12%);
    margin: 5rem auto;
    width: 25%;
    min-width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2% 0 2% 0;
}
#avatarImage {
    align-self: center;
}
img {
    border-radius: 50%;
    scale: 75%;
}
#profileText {
    display: flex;
    flex-direction: column;
}
h1 {
    align-self: center; color: hsl(0, 0%, 100%);
}
h4{
    align-self: center; margin: 1em 0 2em 0;
    color: hsl(75, 94%, 57%); font-weight: 600;
}
p {
    align-self: center; color: hsla(0, 0%, 100%, 0.808); font-size: 14px;
}
#links {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
ul {
    width: 75%;
    margin: auto;
}
li {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    
    list-style: none;
    height: 3em;
    display: flex;
    margin: 1em 0 1em 0;
}
a {
    align-content: center;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100%;
    font-weight: 600;
}
a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}































.attribution { 
    font-size: 11px;
    text-align: center;
    background-color: lightgray; 

}
.attribution a { 
    color: hsl(228, 45%, 44%); 

}